<div class="addThings">
	<form>
	    <input type="text" class="textfield">
	    <div class="submitButton" onmouseup="view.control.newTweet()">Post To Twitter</div>
	    <div class="submitButton" onmouseup="view.control.startNewStream()">Start New Stream</div>
	</form>
</div>
<div class="streamButtonBox">
	<%= streamButtonBoxTemplate %>
</div>
